
 <%- include('./partial/header'); %>
		

 <div class="hk-pg-wrapper">
	<div class="container-fluid" >
            <div class="row">
                <div class="col-11 mx-auto mt-3" >	
                    <div  id="specialBtn">
                        <a href="/app" class="btn goBack"><i class="las la-arrow-left"></i>Geri</a> 
                      </div>								
                    <table class="table table-hover table-striped mb-0 shadow-lg p-3 mb-5 bg-white rounded">
                                 <thead>
                                     <tr>
                                         <th>Kullanıcı Adı</th>
                                         <th>Kullanıcı Giriş Tarihi</th>
                                         <th>Kullanıcı Giriş Saati</th>
                                         <th>Mesaj</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                    <% for(var i = 0; i < data.length; i++) { %>
                                    <tr class="table-light" style="color: rgb(48, 47, 47) !important;">
                                         <td><%= userdata[i].username  %></td>
                                         <td><%= data[i].date.toLocaleDateString()%></td>
                                         <td><%= data[i].date.toLocaleTimeString("tr-TR") %></td>
                                         <td style="color:green"><%= data[i].message%></td>
                                    </tr>
                                    <% } %>
                                 </tbody>
                    </table>
                </div>
            </div>
        
           
           
         </div>                                                   
	</div>
</div>



 <%- include('./partial/footer'); %>