
 <%- include('./partial/header'); %>
		

 <div class="hk-pg-wrapper">
	<div class="container-fluid" >
            <div class="row">
                <div class="col-11 mx-auto" >
                    <div  id="specialBtn">
                        <a href="/app" class="btn goBack"><i class="las la-arrow-left"></i>Geri</a> 
                        <a href="products/newProducts" class="btn addItem ms-2"><i class="las la-plus"></i>Ekle</a> 
                        </div>									
                    <table class="table table-hover table-striped mb-0 shadow-lg p-3 mb-5 bg-white rounded">
                                 <thead>
                                     <tr>
                                         <th>Ürün adı</th>
                                         <th>Stok Miktarı</th>
                                         <th>Alış Fiyatı</th>
                                         <th>Satış Fiyatı</th>
                                         <th></th>
                                 
                                     </tr>
                                 </thead>
                                 <tbody>
                                    <% for(var i = 0; i < data.length; i++) { %>
                                    <tr class="table-light" style="color: rgb(48, 47, 47) !important;">
                                         <td><%= data[i].productName%></td>
                                         <td><%= data[i].amountStock%>  </td>
                                         <td ><%= data[i].purchasePrice.toLocaleString(undefined, {minimumFractionDigits: 2})  %> <span style="color: green;">$</span> </td>
                                         <td><%= data[i].salesPrice.toLocaleString(undefined, {minimumFractionDigits: 2})  %> <span style="color: green;">$</span></td>
                                         <td>
                                           
                                             <a href="products/editProducts/<%= data[i]._id%>" class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover" data-bs-toggle="tooltip" data-bs-original-title="Edit"><span class="icon"><span class="feather-icon"><i data-feather="edit-3"></i></span></span></a>
                                             <a data-id="<%= data[i]._id%>" class="delete_product btn btn-icon btn-rounded btn-flush-danger flush-soft-hover" data-bs-toggle="tooltip" data-bs-original-title="Delete"><span class="icon"><span class="feather-icon"><i data-feather="trash-2"></i></span></span></a>
                                         </td>
                                     </tr>
                                    <% } %>
                                 </tbody>
                            </table>
                        </div>
                    </div>
         </div>                                                   
	</div>
</div>



 <%- include('./partial/footer'); %>