
 <%- include('../partial/header'); %>
		

 <div class="hk-pg-wrapper">
	<div class="container-fluid" >
            <div class="row">
                <div class="col-11 mx-auto mt-3" >
                    <div  id="specialBtn">
                        <a href="/app/offer" class="btn goBack"><i class="las la-arrow-left"></i>Geri</a> 
                      </div>	                                                      
                    <form class="row g-3" method="POST"  id="offer-edit-form" onsubmit="return false">
                            <div class="col-md-6">
                                <label  class="form-label">Firma</label>
                                <input type="text" class="form-control" id="offer-form" name="title"  value="<%= offerData.title%>" >
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Firma</label>
                                <div class="input-group">
                                    <select class="form-control select2 customers-filtering" name="companytitleId" value="<%= offerData.companytitleId%>" >
                                        <% let total = 0  %> 
                                       <% for(const company of companyData) { %> 
                                        <option value="<%= company._id %>"><%= company.companytitle %></option>
                                        <% } %> 
                                      </select>
                                </div>
                                        
                            </div>
                            
                            <div class="col-12">
                                <div class="input-group date" id="datepicker">
                                    <input type="text" class="form-control" id="date" name="offerDate"  value="<%= offerData.offerDate%>" />
                                    <span class="input-group-append">
                                      <span class="input-group-text bg-light d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </div>
                                
                            </div>
                            <div class="col-12">
                                <label  class="form-label">Teklif koşulları</label>
                                <textarea class="form-control" rows="3" name="offerCondition"  ><%= offerData.offerCondition%></textarea>
                            </div>

                        <div class="col-10  mt-10">
                            <label  class="form-label fw-bold">Ürün/Hizmet</label>
                        </div>   
                        <div class="col-11  mt-5 d-flex">
                            <div class="form-check me-5" >
                                <input type="radio" class="form-check-input check"  name="currency" required value="usd"  <%=offerData.currency== "usd" ? 'checked' : ''%> >
                                <label class="form-check-label" for="usdChecked"><span>($)</span> Dolar </label>
                             </div>
                            <div class="form-check mb-3">
                                <input type="radio" class="form-check-input check" name="currency"  required value="tr"  <%=offerData.currency== "tr" ? 'checked' : ''%> >
                                <label class="form-check-label" for="trChecked"><span>(₺)</span> Türk Lirası</label>
                            </div>
                        </div>     
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-light" id="btnAdd"><span class="material-icons">add </span></button>
                        </div>
                        <table class="table nowrap mt-5" >
                            <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Değer</th>
                                    <th>Birim</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Vergi</th>
                                    <th>Toplam Tutar</th>
                                </tr>
                            </thead>
                            <p id="par"></p>
 
                            <tbody id="dynamicTable"> 
                                <% for(var i = 0; i < offerData.items.length; i++) { %>
                                <tr id="R0"> 
                                    <td>
                                        <div class="input-group">
                                            <select class="form-control select2 products-filtering" name="productId[]" value="<%= offerData.items[i].productId%>" >
                                                <% for(const products of productsData) { %> 
                                                 <option value="<%= products._id %>"><%= products.productName %></option>
                                                 <% } %> 
                                               </select>
                                        </div>
                            
                                    </td>
                                    <td><input class="form-control  ms-n5 piece" type="number" name="piece[]" value="<%= offerData.items[i].piece%>"/> </td>
                                    <td>
                                        <select size="1" class="form-control form-select" name="unit[]">
                                            <option value="Adet">
                                                Adet
                                            </option>
                                            <option value="Metre">
                                                Metre
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group ">
                                            <span class="input-group-text currencySpan"></span>
                                            <input class="form-control currencyInput unitPrice"  type="text"  name="unitPrice[]" value="<%= offerData.items[i].unitPrice%>"> </td>
                                        </div>
                                    <td>
                                        <div class="input-group ">
                                            <span class="input-group-text">%</span>
                                            <input type="text" class="form-control taxPercent" data-id="<%= i %>" name="taxPercent[]"  value="<%= offerData.items[i].taxPercent%>">
                                        </div>
                                    </td>
                                 
                                    <td>
                                        <div class="input-group ">
                                            <span class="input-group-text border border-success currencySpan"></span>
                                            <input type="text" class="form-control is-valid" name="totalAccount[]" 
                                            value="<%=((parseFloat(offerData.items[i].piece) * parseFloat(offerData.items[i].unitPrice )) + (parseFloat(offerData.items[i].piece) * parseFloat(offerData.items[i].unitPrice)*(parseFloat(offerData.items[i].taxPercent) / 100))).toFixed(2) %>" disabled >
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger deleteRow"  ><span class="material-icons">remove </span></button>
                                    </td>
                                </tr>
                                <%  total += ((parseFloat(offerData.items[i].piece) * parseFloat(offerData.items[i].unitPrice )) + (parseFloat(offerData.items[i].piece) * parseFloat(offerData.items[i].unitPrice)*(parseFloat(offerData.items[i].taxPercent) / 100))) %>
                            </tbody>
                            <% } %>
                            </table>
                            
                            <div class="row g-3 justify-content-end">
                                <div class="col-6 justify-content-end">
                                    <hr class="  hr-3 hr-success" />
                                </div>
                                
                                <div class="col-8 d-flex  justify-content-end">
                                    <label class="col-md-4">Ara Toplam:</label>
                                    <span class="col-md-4" class="input-group-text" id="subTotal">
                                        <% let count = 0  %> 
                                        <% for(var i = 0; i < offerData.items.length; i++) { %>
                                            <% count += parseFloat(offerData.items[i].unitPrice)%>
                                         <% } %>   
                                         <%=  count.toLocaleString(undefined, {minimumFractionDigits: 2})  %> 
                                    </span>
                                    <span class="currencySpan"></span>
                                </div>
                                <div class="col-8 d-flex  justify-content-end">
                                    <label class="col-md-4">Toplam KDV:</label>
                                    <% let subTotal %> 
                                    <span class="col-md-4" class="input-group-text " id="totalKDV">
                                        <% subTotal = total.toFixed(2) - count %>
                                        <%=subTotal.toLocaleString(undefined, {minimumFractionDigits: 2})  %> 
                                    </span>
                                    <span class="currencySpan"></span>
                                </div>
                                <div class="col-8 d-flex  justify-content-end">
                                    <label class="col-md-4">Genel Toplam:</label>
                                    <span class="col-md-4" class="input-group-text  " id="generalTotal">
                                        <%= total.toLocaleString(undefined, {minimumFractionDigits: 2})  %> 
                                    </span>
                                    <span class="currencySpan"></span>
                                    
                                </div>
                                
                            </div>
 
                            <div class="col-11 d-flex justify-content-center mt-5">
                                <button class="btn addItem"  type="submit"  id="offer-edit-button" data-id="<%= offerData._id%>">Kayıt</button>
                                <button data-id="<%= offerData._id%>" type="submit" class="btn border border-primary ms-5 bill" id="createBill">Fatura Oluştur</button>
                            </div>
                        </form>       
                                                       		 
                        <% if(error){ %>

                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                        <%} %>
                <div>
         </div>                                                   
	</div>
</div>

<script>
    var productList__ = '<%- JSON.stringify(productsData) %>'; 

       
</script>
															

 <%- include('../partial/footer'); %>