	<!-- jQuery -->
    <script src="<%= url %>vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
   	<script src="<%= url %>vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FeatherIcons JS -->
    <script src="<%= url %>dist/js/feather.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="<%= url %>dist/js/dropdown-bootstrap-extended.js"></script>

	<!-- Simplebar JS -->
	<script src="<%= url %>vendors/simplebar/dist/simplebar.min.js"></script>
	
	<!-- Init JS -->
	<script src="<%= url %>dist/js/init.js"></script>
</body>
</html>

