

</div>
<!-- /Wrapper -->





<!-- jQuery -->
<script src="<%= url %>vendors/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JS -->
   <script src="<%= url %>vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- FeatherIcons JS -->
<script src="<%= url %>dist/js/feather.min.js"></script>

<!-- Fancy Dropdown JS -->
<script src="<%= url %>dist/js/dropdown-bootstrap-extended.js"></script>

<!-- Simplebar JS -->
<script src="<%= url %>vendors/simplebar/dist/simplebar.min.js"></script>

<!-- Data Table JS -->
<script src="<%= url %>vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="<%= url %>vendors/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="<%= url %>vendors/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="<%= url %>dist/js/dataTables-data.js"></script>


<!-- Daterangepicker JS -->
<script src="<%= url %>vendors/moment/min/moment.min.js"></script>
<script src="<%= url %>vendors/daterangepicker/daterangepicker.js"></script>
<script src="<%= url %>dist/js/daterangepicker-data.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>

<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- Apex JS -->
<script src="<%= url %>vendors/apexcharts/dist/apexcharts.min.js"></script>

<!-- Init JS -->
<script src="<%= url %>dist/js/init.js"></script>
<script src="<%= url %>dist/js/chips-init.js"></script>
<script src="<%= url %>dist/js/dashboard-data.js"></script>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="<%= url %>vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="<%= url %>dist/js/password.js"></script>
<script src="<%= url %>dist/js/jquery.maskMoney.js"></script>
<script src="<%= url %>dist/js/core.js"></script>
</body>
</html>