
 <%- include('../partial/header'); %>
		

 <div class="hk-pg-wrapper">
	<div class="container-fluid" >
            <div class="row">
                <div class="col-8 mx-auto mt-3" >     
                    <div  id="specialBtn">
                        <a href="/app/users" class="btn goBack"><i class="las la-arrow-left"></i>Geri</a> 
                      </div>	                                               
                        <form method="POST" id="user-edit-form" onsubmit="return false">
                            <div class="form-group">
                                <label class="form-label">Kullanıcı Adı</label>
                                <input type="text" placeholder="" value="<%= data.username%>" name="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email" placeholder="" value="<%= data.email %>" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Şifre</label>
                                <div class="input-group" id="show_hide_password">
                                <input class="form-control " type="password" placeholder="Şifre" name="password">
                                <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Durum</label>
                                <div>
                                    <div class="form-check mb-1">
                                        <input name="status" value="true" class="form-check-input" id="active" type="radio" <%=data.status== true ? 'checked' : '' %>>
                                        <label class="form-check-label" for="true">Aktif</label>
                                    </div>
                                    <div class="form-check">
                                        <input  name="status" value="false"  <%=data.status== false ? 'checked' : '' %> class="form-check-input" id="passive" type="radio">
                                        <label class="form-check-label" for="false" >Pasif</label>
                                    </div>
                                </div>
                            </div>
                        
                            <div  id="specialBtn">
                                <button type="submit" class="btn addItem" id="user-edit-button" data-id="<%= data._id%>" >Güncelle</button>
                             </div>
                        </form>						
                    </div>
                </div>
         </div>                                                   
	</div>
</div>

<script src="<%= url %>vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

 <%- include('../partial/footer'); %>